In [ ]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split
import tensorflow as tf
import  pandas as pd 

from tensorflow import  keras
from keras.layers import Input, Embedding, Dot, Flatten
from keras.models import Model, Sequential

In [ ]:
# Sample movie ratings data (user_id, movie_id, rating)
#Using embeddings to capture user and movie interactions and predicts ratings based on these embeddings
data = np.array([
    [1, 1, 5],
    [1, 2, 4],
    [2, 1, 3],
    [2, 2, 2],
    [3, 2, 5],
    [3, 3, 4],
    [4, 3, 5],
    [4, 4, 4],
])
model = Sequential(
    Embedding(
        
    )

)
dataFrame = pd.DataFrame(data)

unique_users, unique_movies = len(np.unique(data[:, 0])), len(np.unique(data[:, 1]))

EMBEDDING_SIZE = 50

user_input = Input(shape=(1,))
movie_input = Input(shape=(1,))


user_embedding = Embedding(unique_users, EMBEDDING_SIZE )(user_input)
movie_embedding = Embedding(unique_movies, EMBEDDING_SIZE)(movie_input)

user_embedding_flattened = Flatten()(user_embedding)
movie_embedding_flattened = Flatten()(movie_embedding)

dot_product_layer = Dot(axes=1)([user_embedding_flattened, movie_embedding_flattened])

#creating  and compiling hte  model .

model = Model(inputs=[user_input, movie_input], outputs=dot_product_layer)

model.compile(loss='mean_squared_error', optimizer='adam')

user_ids = data[:, 0]
movie_ids = data[:, 1]
ratings = data[:, 2]


user_ids = user_ids.astype(int)
movie_ids = movie_ids.astype(int)

model.fit([user_ids, movie_ids], ratings, epochs=100, verbose=1)


user_id_to_predict = 1
movies_to_predict = np.array([3, 4]) 


#note that while training the model , we are passing a 2D aray/table like data above .

user_id_duplicated = np.array([user_id_to_predict] * len(movies_to_predict))

predicted_ratings = model.predict([user_id_duplicated, movies_to_predict])

# Print the predicted ratings
for i, movie_id in enumerate(movies_to_predict):
    print(f"Predicted rating for movie {movie_id}: {predicted_ratings[i][0]}")

In [4]:
import   pandas as pd 
dataFrame = pd.read_csv('/home/kering/Desktop/ML_DATA/test.csv')
trainDF = pd.read_csv('/home/kering/Desktop/ML_DATA/train.csv')
trainDF

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N