## DATA CLEANING.

In [13]:
import string
import pandas as pd
from nltk import  word_tokenize, pos_tag
from nltk.chunk import ne_chunk
import nltk

TO_DELETE = string.punctuation
BASE_DIR_PATH= "/home/kering/Desktop/ML_DATA/Sentiment_Analysis/train.csv" 

file_encoding = 'cp1252'   

dataFrame = pd.read_csv(BASE_DIR_PATH, engine="python", encoding=file_encoding)

def make_lowercase(text_sentence):
    words = [word.lower() for word in text_sentence]    
    cleaned_string = "".join(words) 
    return cleaned_string

def remove_punctuations(__text):
    translator =  str.maketrans('', '', TO_DELETE)
    return __text.translate(translator)

def stem_text(text_to_stem):
    porter = nltk.PorterStemmer( )
    return [
        porter.stem(word) for word in  text_to_stem.split(" ") if word
    ]

import torch
class LSTMModel:
    def __init__(self):
        pass


#normalizationa  and stemming in NLTK

    
dataFrame.sample(5)

text = "This is what John gave me  . A nation blessed with farming ... an example sentence for tokenization. And it comes from kenya"

token_list = word_tokenize(
    text=remove_punctuations(make_lowercase(text)),
    language="english"
)


#show the first10 token_list[:10] parts of speech tagging is very essential  for understanding the relationship between the components of speech in a language (how nouns interact with verbs maybe ... ) : adds a pos tags to each word/token

tagged_tokens = pos_tag(
    tokens= token_list
    
)

#NER uses capitalization to indentify the  names  of   places , people etc.Making the text lowercase everything can have significant  impact.

entities = ne_chunk(
    tagged_tokens=tagged_tokens
)

# entities.pprint()
display(dataFrame)

column_name = 'text'
# Drop rows with NaN values in the specified column

dataFrame.dropna(subset=[column_name], inplace=True)
print(
    dataFrame.isnull().any()
)

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26
...,...,...,...,...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,night,31-45,Ghana,31072940,227540.0,137
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,morning,46-60,Greece,10423054,128900.0,81
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,noon,60-70,Grenada,112523,340.0,331
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,night,70-100,Guatemala,17915568,107160.0,167
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,morning,0-20,Guinea,13132795,246000.0,53

textID              False
text                False
selected_text       False
sentiment           False
Time of Tweet       False
Age of User         False
Country             False
Population -2020    False
Land Area (Km²)     False
Density (P/Km²)     False
dtype: bool

In [14]:
from nltk.sentiment import  vader, SentimentIntensityAnalyzer
from tqdm.notebook import tqdm

__sen_intensity_analyzer = SentimentIntensityAnalyzer()

# Iterate over the rows  : df.iterrows() creates a list of dataframe rows in form of  pandas series .

result = {}
for index, row  in tqdm(dataFrame.iterrows(), total= len(dataFrame)):
    __text_id = row["textID"]
    __text = make_lowercase(
        remove_punctuations(row["text"])
    ) 
    result[__text_id]= __sen_intensity_analyzer.polarity_scores(__text)

  0%|          | 0/27480 [00:00<?, ?it/s]

In [4]:
result_dataFrame = pd.DataFrame(result).transpose()
result_dataFrame.sample(
    5
)

#NB : Reviews in very  handy in text analysis,  That is , if the score  of the review is 5 , then the text sentiment must be more positive than it is negative .

              neg    neu    pos  compound
df3a00aeef  0.000  0.708  0.292    0.7351
ea201d0ed1  0.000  1.000  0.000    0.0000
f761f6948a  0.192  0.720  0.088   -0.3167
eb4dc14fe5  0.000  0.741  0.259    0.7717
2593a33505  0.000  0.562  0.438    0.5994

In [19]:
test_string = "Hello there  programing  is the better thin ever ...  : :::  ___++ /**** "

__lstm_model = LSTMModel()

processed_text = stem_text(
    remove_punctuations(
        make_lowercase(
            test_string
        )
    )
)

#lemmatization is more powerful  than stemming , as it gives good for a word like better .

processed_text

['hello', 'there', 'program', 'is', 'the', 'better', 'thin', 'ever']